In [2]:
import os
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

In [4]:
SERVER = '54.187.115.114'
UN = os.environ['FM_SQL_UN']
PW = os.environ['FM_SQL_PW']
DRIVER = 'SQL Server Native Client 11.0'
DB = 'Fratmen'

In [5]:
engine = create_engine(f'mssql+pyodbc://{UN}:{PW}@{SERVER}/{DB}?driver={DRIVER}')

In [12]:
data = pd.read_sql_query("select * from cartSelect", engine)

In [13]:
data.dtypes

cartID                    int64
email                    object
itemsCSV                 object
totalPrice              float64
dateCreated      datetime64[ns]
processStatus              bool
dtype: object

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27185 entries, 0 to 27184
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cartID         27185 non-null  int64
 1   email          27185 non-null  object
 2   itemsCSV       27185 non-null  object
 3   totalPrice     27185 non-null  float64
 4   dateCreated    27185 non-null  datetime64[ns]
 5   processStatus  27185 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [8]:
data.shape

(62898, 27)

In [28]:
df = pd.DataFrame(data)

In [32]:
df

,cartID,email,itemsCSV,totalPrice,dateCreated,processStatus
0,1,john.marsh@pavlovsdog.com,"319617_12/15/2100_4.95,316481_12/15/2100_2.95,",7.90,2015-05-15 03:17:57.883,False
1,2,john.marsh@pavlovsdog.com,"317175_12/15/2100_2.95,318825_12/15/2100_2.95,",5.90,2015-05-15 03:42:52.880,False
2,3,john.marsh@pavlovsdog.com,"317175_12/15/2100_2.95,318825_12/15/2100_2.95,...",8.85,2015-05-15 04:08:33.670,True
3,4,john.marsh@pavlovsdog.com,"319125_12/15/2100_2.95,318252_12/15/2100_2.95,...",8.85,2015-05-15 12:18:22.047,True
4,5,john.marsh@pavlovsdog.com,"319125_12/15/2100_2.95,318252_12/15/2100_2.95,...",11.80,2015-05-15 12:39:02.470,False
...,...,...,...,...,...,...
27180,28188,PARKERBALBOA@GMAIL.COM,"305649_12/15/2100_2.95,",2.95,2020-05-28 21:28:36.480,False
27181,28189,criticalintroduction@gmail.com,"309712_12/15/2100_2.95,308107_12/15/2100_2.95,...",44.25,2020-05-29 01:24:52.227,True
27182,28190,cmlazatin@yahoo.fr,"320024_12/15/2100_4.95,",4.95,2020-05-29 01:47:38.457,False
27183,28191,cmlazatin@yahoo.fr,"320209_12/15/2100_5.95,320199_12/15/2100_5.95,...",35.65,2020-05-29 02:08:07.240,False
27184,28192,claudiostep@tiscali.it,"319655_12/15/2100_4.95,",4.95,2020-05-29 07:28:16.893,True

In [37]:
type(df['email']), type(df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [38]:
df['email']

0             john.marsh@pavlovsdog.com
1             john.marsh@pavlovsdog.com
2             john.marsh@pavlovsdog.com
3             john.marsh@pavlovsdog.com
4             john.marsh@pavlovsdog.com
                      ...
27180            PARKERBALBOA@GMAIL.COM
27181    criticalintroduction@gmail.com
27182                cmlazatin@yahoo.fr
27183                cmlazatin@yahoo.fr
27184            claudiostep@tiscali.it
Name: email, Length: 27185, dtype: object

In [43]:
df.email[:-1]

0             john.marsh@pavlovsdog.com
1             john.marsh@pavlovsdog.com
2             john.marsh@pavlovsdog.com
3             john.marsh@pavlovsdog.com
4             john.marsh@pavlovsdog.com
                      ...
27179           swimbikerun28@yahoo.com
27180            PARKERBALBOA@GMAIL.COM
27181    criticalintroduction@gmail.com
27182                cmlazatin@yahoo.fr
27183                cmlazatin@yahoo.fr
Name: email, Length: 27184, dtype: object

In [45]:
df[['email', 'totalPrice']]

                                email  totalPrice
0           john.marsh@pavlovsdog.com        7.90
1           john.marsh@pavlovsdog.com        5.90
2           john.marsh@pavlovsdog.com        8.85
3           john.marsh@pavlovsdog.com        8.85
4           john.marsh@pavlovsdog.com       11.80
...                               ...         ...
27180          PARKERBALBOA@GMAIL.COM        2.95
27181  criticalintroduction@gmail.com       44.25
27182              cmlazatin@yahoo.fr        4.95
27183              cmlazatin@yahoo.fr       35.65
27184          claudiostep@tiscali.it        4.95

[27185 rows x 2 columns]

In [49]:
df[['email']]

                                email
0           john.marsh@pavlovsdog.com
1           john.marsh@pavlovsdog.com
2           john.marsh@pavlovsdog.com
3           john.marsh@pavlovsdog.com
4           john.marsh@pavlovsdog.com
...                               ...
27180          PARKERBALBOA@GMAIL.COM
27181  criticalintroduction@gmail.com
27182              cmlazatin@yahoo.fr
27183              cmlazatin@yahoo.fr
27184          claudiostep@tiscali.it

[27185 rows x 1 columns]

In [50]:
type(df[['email']])

pandas.core.frame.DataFrame

In [51]:
df.columns

Index(['cartID', 'email', 'itemsCSV', 'totalPrice', 'dateCreated',
       'processStatus'],
      dtype='object')

In [52]:
df.columns

'cartID'

In [58]:
# integer location
df.iloc[5:10]

,cartID,email,itemsCSV,totalPrice,dateCreated,processStatus
5,6,john.marsh@pavlovsdog.com,"320633_12/15/2100_2.95,",2.95,2015-05-16 13:12:25.417,True
6,7,john.marsh@pavlovsdog.com,"316352_12/15/2100_2.95,320267_12/15/2100_49.00...",56.90,2015-05-16 15:15:10.917,True
7,8,rob88b@hotmail.com,"320630_12/15/2100_2.95,",2.95,2015-05-16 19:30:24.300,False
8,9,pderrick12@yahoo.com,"320267_12/15/2100_49.00,",49.00,2015-05-16 21:49:09.720,False
9,10,CMCNICK@AOL.COM,"320633_12/15/2100_2.95,",2.95,2015-05-17 07:52:04.390,False

In [59]:
df.iloc[[5,7]]

,cartID,email,itemsCSV,totalPrice,dateCreated,processStatus
5,6,john.marsh@pavlovsdog.com,"320633_12/15/2100_2.95,",2.95,2015-05-16 13:12:25.417,True
7,8,rob88b@hotmail.com,"320630_12/15/2100_2.95,",2.95,2015-05-16 19:30:24.300,False

In [60]:
df.iloc[[5,7], [1,3]]

                       email  totalPrice
5  john.marsh@pavlovsdog.com        2.95
7         rob88b@hotmail.com        2.95

In [61]:
df.loc[[0]]

,cartID,email,itemsCSV,totalPrice,dateCreated,processStatus
0,1,john.marsh@pavlovsdog.com,"319617_12/15/2100_4.95,316481_12/15/2100_2.95,",7.9,2015-05-15 03:17:57.883,False

In [70]:
# -- df.loc when specifying rows cannot use int ranges [0:10] unless brackets are removed
df.loc[[5,7,9],['dateCreated', 'totalPrice', 'email']]

              dateCreated  totalPrice                      email
5 2015-05-16 13:12:25.417        2.95  john.marsh@pavlovsdog.com
7 2015-05-16 19:30:24.300        2.95         rob88b@hotmail.com
9 2015-05-17 07:52:04.390        2.95            CMCNICK@AOL.COM